.layoutHeader {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #22ffdd;
  padding: 0 1rem;

  .logo {
    cursor: pointer;
    width: 4rem;
    animation: logo-spin infinite 8s linear;
  }

  .title {
    font-size: 2rem;
  }

  .rightMenu {
    margin-left: auto;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(380deg);
  }
}
